<div *ngIf='isForm'>
<div class="container text-right" >
<form (ngSubmit)="onSubmit()" #callcForm="ngForm">
	
	<div class="form-inline">
		<label> USOC Look Up For</label><br>
		<label for="month"> Month</label>
		<select [(ngModel)]="model.month" class="form-control" id="month" required  name="month" #month="ngModel">
			<option *ngFor="let field of monthList" [value]="field">{{field}} </option>
		</select>
		<label for="year"> Year</label>
		<select [(ngModel)]="model.year" class="form-control" id="year" required  name="year" #year="ngModel">
			<option *ngFor="let field of yearList" [value] = "field" >{{field}} </option>
		</select>
	</div>
	<div class="form-inline">
		
		<label for="searchBy" >Search By</label>
		<select [(ngModel)]="model.searchBy" class="form-control" id="searchBy" (change)="onSelectSearchBy(searchBy.value, filterByATN, filterByUSOC, filterByZero, filterByMRC)"
			required  name="searchBy" #searchBy="ngModel" >
			<option *ngFor="let field of searchCriteria" [value]="field">{{field}}</option>
		</select>
		<input type="text" [(ngModel)]="model.searchByText" class="form-control" id="searchByText" name="searchByText" required>
		
	</div>
	<div class="form-inline">
		<label for="filterBy">Filter By :</label>
		<label> <input type="checkbox" name="filterByATN" [(ngModel)]="model.filterByATN" #filterByATN value="ATN"  [disabled]="isSearchByATN" >Show ATN Detail </label><br>
		<label> <input type="checkbox" name="filterByUSOC" [(ngModel)]="model.filterByUSOC" #filterByUSOC value="USOC" [disabled]="isSearchByUSOC" >Show USOC Detail </label><br>
		<label> <input type="checkbox" name="filterByZero" [(ngModel)]="model.filterByZero" #filterByZero value="Zero" >Show Zero amount </label><br>
		<label> <input type="checkbox" name="filterByMRC" [(ngModel)]="model.filterByMRC" #filterByMRC value="MRC,NRC" >Show only MRC,NRC </label><br>
	</div>
	<div class="form-inline">
	<label for="sortBy">Sort By</label>
	<select class="form-control" id="sortBy" required [(ngModel)]="model.sortBy" name="sortBy" #sortBy="ngModel" >
		<option *ngFor="let field of sortByValues" [value]="field">{{field}}</option>
	</select>
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
</div>
</div>
<div *ngIf='!isForm' class="container text-left">
		<ng2-smart-table [settings]="settings" [source]="data"
			actions.columnTitle="Summary"></ng2-smart-table>
</div>