<h1 align="center">callc-details under construction (Need data to
	display the details).</h1>

<div class="dataTableConatiner">

 
<!-- 	<table id="example"
		class="display table table-striped table-bordered dt-responsive nowrap"
		cellspacing="0" style="width: 100%">
		<thead>
			<tr>
				<th>USOC</th>
				<th>Qty</th>
				<th>Cost</th>
				<th>Total</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let team of teamsList">
				<td>{{team.teamName}}</td>
				<td>{{team.teamDomain}}</td>
				<td>{{team.noOfUsers}}</td>
				<td>{{team.teamAdminName}}</td>
				<td><label class="switch"> <input type="checkbox"
						[ngModel]="team.isActive" (ngModelChange)="toggleTeamStatus(team)"
						checked>
						<div class="slider round"></div>
				</label></td>
				<td><span class="glyphicon glyphicon-edit" (click)="Edit(team)">
			</tr>
		</tbody>
	</table> -->
</div>
